* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant SC", serif;
}

.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 920px;
    background-color: #121212;
}

header {
    max-height: 100px;
    max-width: 100%;
    top: 0;
    position: absolute;
}

.login {
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.nav_menu {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.border {
    border-right: 1px solid #fff;
    height: 100px;
}
.border1{
    border-left: 1px solid #fff;
    /* padding: 23px;  */
    height: 100px;

}
.nav_item {
    color: #fff;
    font-weight: 400px;
    font-size: 24px;
    margin: 23px;
    display: flex;
    padding-top: 50px;
    margin-top: 0;
    position: relative;
}
.nav_item_line {
    color: #fff;
    text-decoration: none;
    font-weight: 400px;
    font-size: 24px;
    margin: 23px;
    display: flex;
    padding-top: 50px;
    margin-top: 0;
    position: relative;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}
li a {
    transition: transform 0.5s;
}
li:hover a {
    transform: scale(1.1);
}
.nav_item:hover:before {
    transform: scaleX(1);
    transition: 0.5s;
}

.nav_item:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);

}
.nav_item_line {
    color: #fff;
    text-decoration: none;
    font-weight: 400px;
    font-size: 24px;
    margin: 23px;
    display: flex;
    padding-top: 50px;
    margin-top: 0;
    position: relative;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}
.about {
    width: 100%;
    height: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_box {
    top: 0;
    width: 100%;
    height: 920px;
    background: transparent;
    
    display: flex;
    backdrop-filter: blur(15px);
}
.main {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.details {
    width: 60%;
    height: 800px;
}

.details_text {
    padding: 30px;
    overflow: hidden;
    text-align: center;
    font-size: 44px;
    color: #fff;
}

.details_text p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    
}

.details_text:before,
.details_text:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background: rgb(255, 255, 255);
    position: relative;
}

.details_text:before {
    margin-left: -100%;
    left: -14px;
}

.details_text:after {
    margin-right: -100%;
    right: -14px;
}
.cards{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.card {
    width: 100%;
    height: 580px;
    background-color: #fff;
    /* box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.1); */
    display: flex;
    flex-direction: column; 
    border-radius: 4px;
    transition: 0.5s;
    position: relative;
  }  
  .card_top {
    flex: 0 0 420px;
    position: relative;
    overflow: hidden;
  }
  .card_image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card_image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .card_label {
    padding: 4px 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #bb1e1e;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }
  
  .card_bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
  }
  
  .card_prices {
    display: flex;
  }
  
  .card_price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
  }
  .card_price_discount {
    font-weight: 700;
    font-size: 19px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .card_price_discounted {
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 6px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  
  .card_price_common {
    font-weight: 400;
    font-size: 17px;
    color: #606060;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
  }
  
  .card_price_common::before {
    content: "Обычная";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
  }
  
  .card_title {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #414141;
  }
  
  .card_add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
    background-color: #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: auto; 
  }
  
  .card_add:hover {
    border: 1px solid #191919;
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.1);
  }






footer{
    height: 70px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: auto;
    /* position: relative; */
}

.social_media1{
    width: 33%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.street_width{
    max-height: 70px;
    max-width: 33%;
    display: flex;
    justify-content: center;
    align-items: center; 

    /* style="max-width: 480px; min-width: 480px; */

}
.street{
    max-height: 70px;
    display: flex;
    color: #fff;
    text-decoration: none;
    font-weight: 400px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    /* position: absolute; */
}

.street:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.social_media2{
    width: 33%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pictures{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.pics{
    height: 27px;
    width: 27px;
}
.favourites{
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* button{
    transition: transform 0.5s;
}
button:hover{
    transform: scale(1.1);
} */
.favourites img{
    transition: transform 0.5s;
}
.favourites:hover img{
    transform: scale(1.4);
}
.fav{
    background: none;
    /* border: 1px solid #fff; */
    width: 50%;
}
.shopping_cart{
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.shopping_cart img{
    transition: transform 0.5s;
}
.shopping_cart:hover img{
    transform: scale(1.4);
}
.user{
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.user img{
    transition: 0.5s;
}
.user:hover img{
    transform: scale(1.4);
}
.settings{
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.settings img{
    transition: 0.5s;
}
.settings:hover img{
    transform: scale(1.4);
}
.border_social{
    border-right: 1px solid #fff;
    height: 27px;
}